body {
  max-width: 1080px;
  min-width: 370px;
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.top__access_point_list {
  margin: 200px auto;
}

.top__access_point_list li {
  border: solid 1px #000;
  border-radius: 100px;
  width: 80%;
  padding: 50px 50px 50px 100px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.top__access_point_list li div:first-of-type p.access_name {
  font-size: 60px;
}

.top__access_point_list li div:first-of-type p.access_flag {
  font-size: 45px;
}

.top__access_point_list li .acsess_map {
  width: 150px;
  height: 150px;
  border: #000 1px solid;
  border-radius: 50%;
}

.top__access_point_list li .acsess_map.not a {
  background: #faa;
}

.top__access_point_list li .acsess_map.not a:hover {
  background: #f77;
}

.top__access_point_list li .acsess_map a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #bfa;
}

.top__access_point_list li .acsess_map a:hover {
  background: #cf7;
}

.post header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
}

.post header h1 {
  text-align: center;
  margin: 100px 0;
  font-size: 60px;
  font-weight: normal;
}

.post__main_contents {
  margin: 300px 0 310px;
}

.post__list li {
  border: solid 1px #000;
  border-radius: 100px;
  width: 80%;
  margin: 50px auto;
}

.post__list li a {
  color: #000;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 50px 100px;
}

.post__list li a p.user_name {
  font-size: 30px;
}

.post__list li a p.sample_text {
  font-size: 50px;
}

.post footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.post footer div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.post footer div p {
  margin: 50px 0;
  width: 200px;
  height: 200px;
}

.post footer div p:first-of-type {
  background: #333;
}

.post footer div p:first-of-type:hover {
  background: #ccc;
}

.post footer div p:last-of-type {
  background: #ccc;
}

.post footer div p:last-of-type:hover {
  background: #333;
}

.post footer div p a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.show header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
}

.show header h1 {
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  margin: 100px 0;
}

.show__main_contents {
  margin: 300px 0 310px;
}

.show__question_box {
  width: 70%;
  margin: 0 auto;
}

.show__question_box h2 {
  font-size: 40px;
  font-weight: normal;
}

.show__question_box p {
  font-size: 60px;
}

.show__contents_list {
  width: 80%;
  margin: 50px auto;
  border: 1px solid #000;
  height: 700px;
  border-radius: 100px;
  overflow: scroll;
}

.show__contents_list li {
  border-bottom: solid 1px #000;
  width: 90%;
  margin: 50px auto;
}

.show__contents_list li a {
  color: #000;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 50px 100px;
}

.show__contents_list li a p.user_name {
  font-size: 30px;
}

.show__contents_list li a p.sample_text {
  font-size: 50px;
}

.show__answer_box {
  width: 80%;
  margin: 0 auto;
}

.show__answer_box p {
  font-size: 40px;
}

.show__answer_box textarea {
  border: 1px solid #000;
  width: 100%;
  height: 150px;
  border-radius: 100px;
  padding: 50px;
  font-size: 20px;
}

.show__answer_box input {
  display: block;
  width: 300px;
  height: 90px;
  padding: 10px 0;
  font-size: 50px;
  border-radius: 50px;
  background: #000;
  color: #fff;
  margin: 50px auto;
}

.show footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.show footer p {
  margin: 50px auto;
  width: 200px;
  height: 200px;
}

.show footer p:first-of-type {
  background: #333;
}

.show footer p:first-of-type:hover {
  background: #ccc;
}

.show footer p a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.add header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
}

.add header h1 {
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  margin: 100px 0;
}

.add__main_contents {
  margin: 300px 0 310px;
}

.add__main_contents form {
  width: 80%;
  margin: 0 auto;
}

.add__main_contents form p {
  font-size: 50px;
  text-align: center;
  margin: 50px 0;
}

.add__main_contents form input[type=text] {
  width: 100%;
  height: 100px;
  font-size: 30px;
  display: block;
  border: 1px solid #000;
  border-radius: 100px;
  padding: 0 50px;
}

.add__main_contents form textarea {
  width: 100%;
  padding: 50px;
  height: 500px;
  font-size: 30px;
  border: 1px solid #000;
  border-radius: 100px;
}

.add__main_contents form input[type=button] {
  display: block;
  width: 300px;
  height: 90px;
  padding: 10px 0;
  font-size: 50px;
  border-radius: 50px;
  background: #000;
  color: #fff;
  margin: 50px auto;
}

.add footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.add footer p {
  margin: 50px auto;
  width: 200px;
  height: 200px;
}

.add footer p:first-of-type {
  background: #333;
}

.add footer p:first-of-type:hover {
  background: #ccc;
}

.add footer p a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

